black==23.9.1 ; python_full_version == "3.11.6"
cfgv==3.4.0 ; python_full_version == "3.11.6"
click==8.1.7 ; python_full_version == "3.11.6"
colorama==0.4.6 ; python_full_version == "3.11.6" and platform_system == "Windows"
coverage==7.3.2 ; python_full_version == "3.11.6"
cx-oracle==8.3.0 ; python_full_version == "3.11.6"
distlib==0.3.7 ; python_full_version == "3.11.6"
filelock==3.12.4 ; python_full_version == "3.11.6"
flake8==6.1.0 ; python_full_version == "3.11.6"
greenlet==3.0.0 ; (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_full_version == "3.11.6"
identify==2.5.30 ; python_full_version == "3.11.6"
isort==5.12.0 ; python_full_version == "3.11.6"
mccabe==0.7.0 ; python_full_version == "3.11.6"
mypy-extensions==1.0.0 ; python_full_version == "3.11.6"
nodeenv==1.8.0 ; python_full_version == "3.11.6"
numpy==1.26.1 ; python_full_version == "3.11.6"
packaging==23.2 ; python_full_version == "3.11.6"
pandas==2.1.1 ; python_full_version == "3.11.6"
pathspec==0.11.2 ; python_full_version == "3.11.6"
platformdirs==3.11.0 ; python_full_version == "3.11.6"
pre-commit==3.5.0 ; python_full_version == "3.11.6"
pycodestyle==2.11.1 ; python_full_version == "3.11.6"
pyflakes==3.1.0 ; python_full_version == "3.11.6"
python-dateutil==2.8.2 ; python_full_version == "3.11.6"
python-dotenv==1.0.0 ; python_full_version == "3.11.6"
pytz==2023.3.post1 ; python_full_version == "3.11.6"
pyyaml==6.0.1 ; python_full_version == "3.11.6"
setuptools==68.2.2 ; python_full_version == "3.11.6"
six==1.16.0 ; python_full_version == "3.11.6"
sqlalchemy==2.0.22 ; python_full_version == "3.11.6"
typing-extensions==4.8.0 ; python_full_version == "3.11.6"
tzdata==2023.3 ; python_full_version == "3.11.6"
virtualenv==20.24.5 ; python_full_version == "3.11.6"
