<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <style>
            {% include "prior_notifications.css" %}
        </style>
    </head>

    <body>

        <header>
        <h1>
            PREAVIS - {{ purpose }}
            <br>
            {{ vessel_name }} <img id="state_flag_icon", src="{{ state_flag_icon_src }}" alt="Logo CNSP">
        </h1>
        <ul id="vessel_ids_list">
            <li>CFR - {{ cfr }}</li>
            <li>Marquage ext. - {{ external_identification }}</li>
            <li>MMSI - {{ mmsi }}</li>
            <li>Call Sign - {{ ircs }}</li>
        </ul>
        <p id="vessel_length">Taille du navire {{ vessel_length }} m</p>
        <p><strong>Note de risque {{ risk_factor_description }} <span id="risk_factor">{{ risk_factor }}</span></strong></p>

        </header>

        <main>

            <section>
                <h2>INFOS DU PRÉAVIS</h2>
                <hr/>
                <table>
                    <tr><td>Préavis envoyé</td><td><strong>le {{ report_datetime_utc }}</strong></td></tr>
                    <tr><td>Arrivée estimée</td><td><strong>le {{ predicted_arrival_datetime_utc }}</strong></td></tr>
                    <tr><td>Débarque prévue</td><td><strong>le {{ predicted_landing_datetime_utc }}</strong></td></tr>
                </table>
                <table>
                    <tr><td>Port de débarque</td><td><strong>{{ port_name }} ({{ port_locode }})</strong></td></tr>
                    <tr><td>Type(s) de préavis</td><td><strong>{{ pno_types }}</strong></td></tr>
                </table>            
            </section>

            <section>
                <h2>INFOS POUR CONTRÔLE</h2>
                <hr/>
                <table>
                    <tr><td>Segment(s) de flotte</td><td><strong>{{ trip_segments }}</strong></td></tr>
                    <tr><td>Date du dernier contrôle</td><td><strong>{{ last_control_datetime_utc }}</strong></td></tr>
                    <tr><td>Résultat du contrôle</td><td><strong>{{ None }}</strong></td></tr>
                </table>     
            </section>

            <section>
                <h2>ACTIVITÉ DU NAVIRE</h2>
                <hr/>
                <table>
                    <tr><td>Engin(s) utilisé(s)</td><td><strong>{{ trip_gears }}</strong></td></tr>
                </table>
                <p>Espèces à bord par zone de pêche <em>(tous les poids sont vifs)</em> :</p>
                {{ catch_onboard }}
            </section>

        </main>

        <footer>
            <hr/>
            <p><strong>Centre National de Surveillance des Pêches</strong></p>
            <p>40 avenue Louis Bougo</p>
            <p>56410 Étel</p>
            <p>(0)2 97 29 34 27</p>
            <table>
                <tr>
                    <td>
                       <img id="logo_cnsp", src="{{ cnsp_logo_src }}" alt="Logo CNSP">
                    </td>
                    <td>
                        <img id="logo_se_mer", src="{{ se_mer_logo_src }}" alt="Logo Secretariat d'Etat chargé de la Mer et de la Biodiversité">
                    </td>
                </tr>
            </table>
        </footer>
    </body>
</html>