version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    assignees:
      - "ivangabriele"
      - "louptheron"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[Tech] "
    labels: ["tech. enhancement", "dependencies"]

  - package-ecosystem: "gradle"
    directory: "/backend"
    assignees:
      - "louptheron"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[Tech] "
    labels: ["tech. enhancement", "dependencies"]
    groups:
      non-major-dependencies:
        applies-to: version-updates
        dependency-type: production
        update-types: ["minor", "patch"]
      non-major-dev-dependencies:
        applies-to: version-updates
        dependency-type: development
        update-types: ["minor", "patch"]

  - package-ecosystem: "npm"
    directory: "/frontend"
    assignees:
      - "ivangabriele"
      - "louptheron"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[Tech] "
    labels: ["tech. enhancement", "dependencies"]
    ignore:
      - dependency-name: "rsuite"
    groups:
      non-major-dependencies:
        applies-to: version-updates
        dependency-type: production
        update-types: ["minor", "patch"]
      non-major-dev-dependencies:
        applies-to: version-updates
        dependency-type: development
        update-types: ["minor", "patch"]

  - package-ecosystem: "pip"
    directory: "/datascience"
    assignees:
      - "VincentAntoine"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[Tech] "
    labels: ["tech. enhancement", "dependencies"]
    groups:
      non-major-dependencies:
        applies-to: version-updates
        dependency-type: production
        update-types: ["minor", "patch"]
      non-major-dev-dependencies:
        applies-to: version-updates
        dependency-type: development
        update-types: ["minor", "patch"]
