########################################
# Custom

# production
/build

# misc
# TODO Not a good practice to ignore user enviroment specific setup. Prefer local global gitignore for that.
.DS_Store

# Test exports directory
/cypress/downloads/*
!/cypress/downloads/.gitkeep

# Test snapshots diffs & failures
/cypress/e2e/__image_snapshots__/*.actual.png
/cypress/e2e/__image_snapshots__/*.diff.png
/cypress/e2e/__image_snapshots__/*.diff.png
/cypress/screenshots
