# git repo
.git

# Frontend environment
frontend/node_modules

# Env variables
pipeline/.env
pipeline/.monitorfish

#Docs
/pipeline/docs

# Notebooks
/pipeline/notebooks
**/.ipython
**/.ipynb_checkpoints/
.jupyter/

# Local data
/pipeline/data

# Python
*.pyc
pipeline/monitorfish.egg-info
/pipeline/.local
/pipeline/.cache
/pipeline/.pytest_cache
**/__pycache__

# Coverage reports
**/htmlcov
**/.coverage

# Tools
**/.pre-commit-config.yaml

# IDEs
.vscode