# git repo
.git

# Env variables
datascience/.env

#Docs
/datascience/docs

# Notebooks
/datascience/notebooks
datascience/dam-si-jupyter-config.py
**/.ipython
**/.ipynb_checkpoints/
.jupyter/

# Local data
/datascience/data

# Python
*.pyc
datascience/monitorfish.egg-info
/datascience/.local
/datascience/.cache
/datascience/.pytest_cache
**/__pycache__

# Coverage reports
**/htmlcov
**/.coverage

# Tools
**/.pre-commit-config.yaml

# IDEs
.vscode