[Unit]
Description=Prefect Docker Agent

[Service]
Type=simple

User=<USER-TO-CHANGE>
ExecStart=<SCRIPT-LOCATION-TO-CHANGE>/prefectdockeragent.sh
Restart=always

[Install]
WantedBy=multi-user.target
