{% if fonts_directory %}
@font-face {
font-family: Marianne;
src: url({{ fonts_directory }}/Marianne/Marianne-Regular.woff2) format('woff2');
font-weight: normal;
}

@font-face {
font-family: Marianne;
src: url({{ fonts_directory }}/Marianne/Marianne-Bold.woff2) format('woff2');
font-weight: 700;
}

@font-face {
font-family: Marianne;
src: url({{ fonts_directory }}/Marianne/Marianne-Light.woff2) format('woff2');
font-weight: lighter;
}

@font-face {
font-family: Marianne;
src: url({{ fonts_directory }}/Marianne/Marianne-Medium.woff2) format('woff2');
font-weight: 500;
}

@font-face {
font-family: Marianne;
src: url({{ fonts_directory }}/Marianne/Marianne-Regular_Italic.woff2) format('woff2');
font-style: italic;
font-weight: normal;
}

@font-face {
font-family: Marianne;
src: url({{ fonts_directory }}/Marianne/Marianne-Bold_Italic.woff2) format('woff2');
font-style: italic;
font-weight: 700;
}
{% endif %}

@page {
    margin: 0;
    size: 26.25cm 37.125cm;
}

html {
    margin: 70px 60px 36px 80px;
    font: 15px Marianne, sans-serif;
    line-height: 1.35;
    color: #1a1a1a;
}

body {
    max-width: 1020px;
    margin: 0 auto;
}

header {
    margin-bottom: 12px;
}

footer {
    position: absolute;
    top: 1350px;
    color: #666;
}

main {
    font-size: 1.1rem;
}

footer hr {
    margin-bottom: 10px;
}

#letterhead {
    width: 100%;
    border-collapse: collapse;
}

#letterhead td {
    vertical-align: top;
}

#logo {
    width: 226px;
    margin-left: -4px;
}

#letterhead h1 {
    padding-top: 21px;
    /* padding-left: 244px; */
    font-weight: bold;
    font-size: 1.23rem;
    /* line-height: 1.05; */
    /* text-transform: uppercase; */
}

#letterhead td:first-child {
    width: 55.25%;
}

#letterhead td:last-child {
    width: 44.75%;
}


#parties {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#parties td {
    vertical-align: top;
}

#parties td:first-child {
    width: 55.25%;
}

#parties td:last-child {
    width: 44.75%;
}

#parties h3 {
    margin: 0 0 6px 0;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

#parties p {
    margin: 0 0 4px 0;
    font-style: italic;
    font-size: 0.9rem;
}

#date {
    margin: 0 0 24px 0;
    font-style: normal !important;
    font-size: 1.1rem !important;
}

#object p {
    margin: 50px 0 70px 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
}

#message {
    margin-top: 25px;
}

.no-vertical-margin, .no-vertical-margin * {
    margin-top: 0;
    margin-bottom: 0;
}

.left-align, .left-align * {
    text-align: left;
}
