{% extends "malfunction_at_sea_initial_notification.jinja" %}
{% block beginning %}
<p>Aucune amélioration n’a été apportée depuis notre dernier message
{% if previous_notification_datetime_utc %} datant du {{ previous_notification_datetime_utc }}{% endif %}. 
<strong>Le CNSP ne reçoit toujours pas les positions de votre navire par le
système de surveillance satellitaire des navires (VMS).</strong></p>

<p><strong>Nous vous rappelons que vous êtes tenu de transmettre la position de votre navire
toutes les 4 heures par message écrit</strong>, en précisant la date et l’heure :
{% endblock %}