{% extends "base_template.jinja" %}
{% block message %}Le CNSP ne reçoit toujours pas les positions VMS de votre navire.

Nous vous rappelons que vous êtes tenu de transmettre la position de votre navire toutes les 4 heures par message écrit au CNSP et, si vous êtes hors ZEE française, au FMC dont vous fréquentez la ZEE.
{% endblock %}