services:
  db:
    image: timescale/timescaledb-postgis:1.7.4-pg11
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=monitorfishdb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - ${DB_PUBLIC_PORT:-5432}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 5s
      retries: 60

  flyway:
    image: flyway/flyway:10.5.0
    command: migrate -password=postgres -schemas=public -user=postgres -url=jdbc:postgresql://db:5432/monitorfishdb
    volumes:
      - ../../backend/src/main/resources/db/:/flyway/sql
    depends_on:
      db:
        condition: service_healthy

  app:
    image: monitorfish-app:$MONITORFISH_VERSION
    container_name: monitorfish_backend
    environment:
      - ENV_DB_URL=jdbc:postgresql://db:5432/monitorfishdb?user=postgres&password=postgres
      - SPRING_PROFILES_ACTIVE=local
      - HOST_IP=127.0.0.1
      - SENTRY_DSN=
      - MONITORENV_URL=http://geoserver-monitorenv-stubs:8080
      - MONITORFISH_API_PROTECTED_API_KEY=APIKEY
      - FRONTEND_GEOSERVER_LOCAL_URL=http://0.0.0.0:8081
      - FRONTEND_GEOSERVER_REMOTE_URL=http://0.0.0.0:8081
      - FRONTEND_MAPBOX_KEY=pk.eyJ1IjoibW9uaXRvcmZpc2giLCJhIjoiY2tsdHJ6dHhhMGZ0eDJ2bjhtZmJlOHJmZiJ9.bdi1cO-cUcZKXdkEkqAoZQ
      - FRONTEND_MONITORENV_URL=http://0.0.0.0:8081
      - FRONTEND_OIDC_AUTHORITY=https://authentification.recette.din.developpement-durable.gouv.fr/authSAML/oidc/monitorfish
      - FRONTEND_OIDC_CLIENT_ID=monitorfish
      - FRONTEND_OIDC_ENABLED=false
      - FRONTEND_OIDC_REDIRECT_URI=https://monitorfish.din.developpement-durable.gouv.fr
      - FRONTEND_SENTRY_DSN=https://a5f3272efa794bb9ada2ffea90f2fec5@sentry.incubateur.net/8
      - FRONTEND_SHOM_KEY=rg8ele7cft4ujkwjspsmtwas
      - FRONTEND_MISSION_FORM_AUTO_SAVE_ENABLED=true # Even if we inject this env var, the value is not used (see cypress.config.ts)
      - FRONTEND_MISSION_FORM_AUTO_UPDATE_ENABLED=true
      - FRONTEND_PRIOR_NOTIFICATION_LIST_ENABLED=true
    ports:
      - 8880:8880
      - 8000:8000
      - 5000:5000
      - 5001:5001
    depends_on:
      flyway:
        condition: service_completed_successfully
      geoserver-monitorenv-stubs:
        condition: service_healthy
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"

  geoserver-monitorenv-stubs:
    image: rodolpheche/wiremock
    ports:
      - 8081:8080
    volumes:
      - ../../frontend/cypress/mappings:/home/wiremock/mappings
    healthcheck:
      test: [
          "CMD-SHELL",
          "curl --fail
          http://localhost:8080/geoserver/wfs?service=WFS&version=1.1.0&request=GetFeature&typename=monitorfish:regulations&outputFormat=application/json&CQL_FILTER=topic=%27Ouest%20Cotentin%20Bivalves%27%20AND%20zone=%27Praires%20Ouest%20cotentin%27
          || exit 1 ",
        ]
      interval: 1s
      timeout: 1s
      retries: 30

volumes:
  db-data:
    driver: local
