.ol-attribution ul {
  text-shadow: none;
}

.ol-control button {
  background-color: #3B4559;
}

.ol-control {
  background: none;
}

.ol-control:hover {
  background: inherit;
}

.ol-control button,
.ol-control button:hover,
.ol-control button:focus {
  background-color: #3B4559;
  border-radius: 2px;
  font-size: 15px;
  padding-bottom: 5px;
}

.ol-scale-line {
  box-sizing: content-box;
  position: absolute;
  bottom: 10px;
  left: 282px;
  display: inline-block;
  margin: 1px;
  padding: 2px 0 5px 2px;
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  height: 18px;
  background-color: #3B4559;
  border: none;
  border-radius: 2px;
}

.ol-scale-line-inner {
  margin: 3px 4px 4px 2px;
  line-height: 11px;
  padding-bottom: 4px;
}

.ol-control.zoom {
  bottom: 38px;
  left: .5em;
  width: 25px;
  height: 53px;
}

.ol-control.zoom>button {
  width: 25px;
  height: 25px;
}