/* variables */
:root {
  --steel-blue: #5e87ad;
  --steel-blue-25: #d6e1ea;
  --blue-jeans: #42a7ff;
  --blue-jeans-25: #cfe9ff;
}

/*
  Default font size should be 16px instead of 13px as stated in Rsuite CSS,
  so we need to apply this fix in order to have consistent 16px-based rems
  while overriding both Rsuite CSS and mini.css.
*/
html {
  font-size: 16px;
}

.rs-input {
  border-radius: 0;
  color: var(--gunMetal);
  padding-left: 5px;
}

.rs-input.ghost {
  background-color: var(--white);
}

/* rs input textarea */
textarea {
  padding: 5px;
}

.rs-input-group,
.rs-input-group:not(.rs-input-group-inside) .rs-auto-complete:first-child .rs-input,
.rs-input-group:not(.rs-input-group-inside) .rs-form-control-wrapper:first-child > .rs-input,
.rs-input-group:not(.rs-input-group-inside) .rs-picker-date:first-child .rs-picker-toggle,
.rs-input-group:not(.rs-input-group-inside) > :first-child,
.rs-input-group:not(.rs-input-group-inside) .rs-auto-complete:last-child .rs-input,
.rs-input-group:not(.rs-input-group-inside) .rs-form-control-wrapper:last-child > .rs-input,
.rs-input-group:not(.rs-input-group-inside) .rs-picker-date:last-child .rs-picker-toggle,
.rs-input-group:not(.rs-input-group-inside) > :last-child {
  border-radius: 0;
}

.rs-input-group-addon.primary {
  background-color: var(--rs-btn-primary-bg);
}

.rs-input-group.rs-input-group-inside .rs-input-group-addon {
  padding: 8px 13px 8px 11px;
}

/* button */

.rs-btn-sm {
  padding-top: 2px;
  padding-bottom: 2px;
}

.rs-btn-icon-with-text.rs-btn.rs-btn-icon-placement-left {
  padding-top: 6px;
  padding-bottom: 6px;
}

.rs-btn-icon-with-text.rs-btn-sm.rs-btn-icon-placement-left {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 26px;
}

.rs-btn-icon.rs-btn {
  padding: 7px;
}

.rs-btn-icon.rs-btn-sm {
  padding: 2px;
}

.rs-btn-icon-with-text.rs-btn {
  line-height: 18px;
}

.rs-btn-icon-with-text.rs-btn > .rs-icon {
  width: 30px;
  height: 30px;
  padding: 8px;
}

.rs-btn-icon-with-text.rs-btn-sm > .rs-icon {
  width: 24px;
  height: 24px;
}

/* checkbox */

.rs-checkbox-checker {
  padding-bottom: 0;
  padding-left: 36px;
  min-height: 0px;
}

.rs-checkbox-wrapper .rs-checkbox-inner::after {
  border-color: var(--lightGray);
  border-width: 0 0 2px;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  margin-top: -1px;
  margin-left: 5px;
  width: 8px;
}

.rs-checkbox-indeterminate .rs-checkbox-wrapper .rs-checkbox-inner::after {
  border-color: var(--white);
  border-width: 0 0 2px;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  margin-top: 0px;
  margin-left: 6px;
  width: 8px;
}

label:hover .rs-checkbox-wrapper .rs-checkbox-inner:before {
  border-color: var(--steel-blue);
  background: var(--steel-blue-25) 0% 0% no-repeat padding-box;
}

.rs-checkbox-checked label:hover .rs-checkbox-wrapper .rs-checkbox-inner:before {
  border-color: var(--steel-blue);
  background: var(--steel-blue) 0% 0% no-repeat padding-box;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner::after {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  margin-top: 3px !important;
  margin-left: 6px !important;
}

/* radio */

.rs-radio-group {
  border-radius: 2px;
}

.rs-radio-wrapper::before,
.rs-radio-wrapper .rs-radio-inner::before,
.rs-radio-wrapper {
  width: 13px;
  height: 13px;
}

.rs-radio-wrapper .rs-radio-inner::before {
  background: var(--gainsboro);
  border-width: 2.5px;
}

/* center of radio button when checked */
.rs-radio-wrapper .rs-radio-inner::after {
  background: var(--charcoal);
  width: 7px;
  height: 7px;
  margin-top: 5px;
  margin-left: 5px;
}

/* dropdown */

.rs-dropdown-menu {
  border-radius: 0;
  padding: 0;
}

.rs-dropdown-item {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 38px;
}

.rs-dropdown-item-with-icon > svg {
  vertical-align: text-bottom;
}

.rs-dropdown-item:not(:last-child) {
  border-bottom: 1px solid var(--lightGray);
}

.rs-picker-menu {
  border-radius: 2px;
  z-index: 9999 !important;
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  border: 1px solid var(--slateGray) !important;
}

.rs-picker-toggle.rs-btn-sm {
  border-radius: 2px !important;
}

.rs-calendar,
.rs-calendar-header,
.rs-calendar-table-cell-content {
  box-sizing: border-box !important;
}

.rs-calendar-table-cell-content {
  border-radius: 2px !important;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  color: #f0f0f0;
  border-color: var(--charcoal);
  background-color: var(--charcoal);
}

.rs-calendar-table-cell-in-range::before {
  background-color: #e0e0e0;
}

.rs-picker-input {
  border-radius: 2px;
  vertical-align: top;
}

.rs-picker-toggle {
  border-radius: 2px;
}

.rs-picker-select-menu-item.rs-picker-select-menu-item-active,
.rs-picker-select-menu-item.rs-picker-select-menu-item-active:hover,
.rs-picker-select-menu-item:not(.rs-picker-select-menu-item-disabled):hover,
.rs-picker-select-menu-item.rs-picker-select-menu-item-focus,
.rs-picker-select-menu-item {
  color: var(--slateGray);
  font-size: 13px;
  font-weight: normal;
  width: inherit;
}

.rs-picker-toggle-clean:hover {
  padding: 4px 0px !important;
}

.rs-table-hover .rs-table-row:not(.rs-table-row-header):hover,
.rs-table-hover .rs-table-row:hover .rs-table-cell-group,
.rs-table-hover .rs-table-row:hover .rs-table-cell {
  /* blueYonder 25 */
  background: #d4dde7 !important;
}
