download_last_version() {
    last_version=$(curl -s {{ package_versions_url }} | grep Latest -B 1 | cut -d v -f4- | cut -d "<" -f1)
    last_version=v${last_version}

    echo "> Last docker image version is: ${last_version}"

    echo "> Pulling last image..."
    download_image_response=$(docker pull {{ docker_registry_url }}/{{ docker_image_path }}:${last_version} | grep "Downloaded new image")
    echo $download_image_response

    if [ -n "$download_image_response" ]; then
        echo "> New image downloaded"
        echo "> Restarting application..."
        sudo systemctl restart {{ api_container_name }}-{{ current_env }}.service
    else
        echo "> No new image found"
    fi
}

export -f download_last_version
watch -n 60 -d -x bash -c download_last_version 
