version: '3'
services:
  db:
    image: timescale/timescaledb-postgis:1.7.4-pg11
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=monitorfishdb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - $DB_PUBLIC_PORT:5432
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 1s
      timeout: 1s
      retries: 30

  flyway:
    image: flyway/flyway
    command: migrate -password=postgres -schemas=public -user=postgres -url=jdbc:postgresql://db:5432/monitorfishdb
    volumes:
      - ../../backend/src/main/resources/db/:/flyway/sql
    depends_on:
      db:
        condition: service_healthy

  app:
    image: monitorfish-app:$MONITORFISH_VERSION
    container_name: monitorfish_backend
    environment:
      - ENV_DB_URL=jdbc:postgresql://db:5432/monitorfishdb?user=postgres&password=postgres
      - SPRING_PROFILES_ACTIVE=prod
      - HOST_IP=127.0.0.1
      - REACT_APP_GEOSERVER_LOCAL_URL=http://0.0.0.0:8081
      - REACT_APP_MONITORENV_URL=http://0.0.0.0:8081
      - REACT_APP_GEOSERVER_REMOTE_URL=http://0.0.0.0:8081
      - REACT_APP_CYPRESS_TEST=true
      - MONITORENV_URL=http://0.0.0.0:8081
    ports:
      - 8880:8880
      - 8000:8000
      - 5000:5000
      - 5001:5001
    depends_on:
      flyway:
        condition: service_completed_successfully
      geoserver-monitorenv-stubs:
        condition: service_healthy
    restart: always
    logging:
      driver: 'json-file'
      options:
        max-size: '1024m'

  geoserver-monitorenv-stubs:
    image: rodolpheche/wiremock
    ports:
      - 8081:8080
    volumes:
      - ./mappings:/home/wiremock/mappings
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'curl --fail
          http://localhost:8080/geoserver/wfs?service=WFS&version=1.1.0&request=GetFeature&typename=monitorfish:regulations&outputFormat=application/json&CQL_FILTER=topic=%27Ouest%20Cotentin%20Bivalves%27%20AND%20zone=%27Praires%20Ouest%20cotentin%27
          || exit 1 '
        ]
      interval: 1s
      timeout: 1s
      retries: 30

volumes:
  db-data:
    driver: local
