/* TODO Remove Rsuite classes once everything imported from @mtes-mct/monitor-ui. */
/* Ultimately, this file must disappear alltogether. */

.boat {
  object-position: 0 -234px;
}

html {
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.overlay-active {
  z-index: 999999999;
}

.vessel-card {
  z-index: 9999999999;
}

.menu-overlay {
  z-index: 99999999999;
}

.zoom {
  bottom: 38px;
  height: 53px;
  left: 0.5em;
  width: 25px;
}

.zoom > button {
  height: 25px;
  width: 25px;
}

.checkbox-hidden > div > label > .rs-checkbox-wrapper {
  margin-left: -40px;
  opacity: 0 !important;
  position: inherit;
}

.collapsed {
  display: none;
}

.ol-attribution ul {
  text-shadow: none;
}

.ol-control button {
  background-color: #3b4559;
}

.ol-control {
  background: none;
}

.ol-control:hover {
  background: inherit;
}

.ol-control button,
.ol-control button:hover,
.ol-control button:focus {
  background-color: #3b4559;
  border-radius: 2px;
  font-size: 15px;
  padding-bottom: 5px;
}

button:hover,
button:focus {
  background: inherit;
}

.hide {
  display: none;
}

.visible {
  visibility: visible;
}

.active-tab {
  background-color: #707785;
}

.rs-table-body-info {
  color: #707785;
  font-size: 13px;
}

table:not(.horizontal) th,
table:not(.horizontal) td {
  flex: unset;
  overflow: unset;
}

table th,
table td {
  padding: unset;
}

table tr {
  display: table-row;
}

.primary {
  background: rgb(5 5 94 / 100%);
}

tbody {
  background: transparent;
  border: 0;
  display: contents !important;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.radar {
  display: block;
  margin-top: 300px;
  position: initial !important;
}

.update-vessels .fingerprint-spinner {
  border: 1px solid transparent !important;
  border-top-color: #3b4559 !important;
}

.update-vessels > .spinner-ring {
  border: 1px solid transparent !important;
  border-top-color: #3b4559 !important;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.highlight {
  background-color: #cccfd6;
  color: rgb(81 81 81);
  margin: 0;
  padding: 0;
}

input:not([type]),
[type='text'],
[type='email'],
[type='number'],
[type='search'],
[type='password'],
[type='url'],
[type='tel'],
[type='checkbox'],
[type='radio'],
textarea,
select {
  margin: 0;
  padding: 0;
}

.ol-scale-line {
  background-color: #3b4559;
  border: none;
  border-radius: 2px;
  bottom: 10px;
  color: white;
  display: inline-block;
  font-size: 0.9em;
  height: 18px;
  left: 282px;
  margin: 1px;
  padding: 2px 0 5px 2px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}

.ol-scale-line-inner {
  line-height: 11px;
  margin: 3px 4px 4px 2px;
  padding-bottom: 4px;
}

a:hover,
a:focus {
  color: #282f3e;
}

.base-layers-selection > .rs-radio > .rs-radio-checker > label > .rs-radio-wrapper {
  float: right;
  margin-bottom: 9px;
  margin-left: 180px;
  position: relative;
  top: 0;
}

.base-layers-selection > .rs-radio > .rs-radio-checker {
  padding-left: 0;
  padding-top: 3px;
}

.base-layers-selection > .rs-radio > .rs-radio-checker > label {
  display: inline-block;
  font-weight: 500;
  width: 304px;
}

.hover-border:hover {
  border-bottom: 1px solid rgb(40 47 62);
  box-sizing: border-box;
}

.rs-btn-primary:hover {
  color: inherit;
}
