/* TODO Remove Rsuite classes once everything imported from @mtes-mct/monitor-ui. */
/* Ultimately, this file must disappear alltogether. */

.boat {
  object-position: 0 -234px;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  /* font-size: 13px; */
  scroll-behavior: smooth;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.overlay-active {
  z-index: 999999999;
}

.vessel-card {
  z-index: 9999999999;
}

.menu-overlay {
  z-index: 99999999999;
}

.zoom {
  bottom: 38px;
  left: 0.5em;
  width: 25px;
  height: 53px;
}

.zoom > button {
  width: 25px;
  height: 25px;
}

.checkbox-hidden > div > label > .rs-checkbox-wrapper {
  opacity: 0 !important;
  margin-left: -40px;
  position: inherit;
}

.collapsed {
  display: none;
}

.ol-attribution ul {
  text-shadow: none;
}

.ol-control button {
  background-color: #3b4559;
}

.ol-control {
  background: none;
}

.ol-control:hover {
  background: inherit;
}

.ol-control button,
.ol-control button:hover,
.ol-control button:focus {
  background-color: #3b4559;
  border-radius: 2px;
  font-size: 15px;
  padding-bottom: 5px;
}

button:hover,
button:focus {
  background: inherit;
}

.hide {
  display: none;
}

.visible {
  visibility: visible;
}

.active-tab {
  background-color: #707785;
}

.rs-table-body-info {
  font-size: 13px;
  color: #707785;
}

table:not(.horizontal) th,
table:not(.horizontal) td {
  overflow: unset;
  flex: unset;
}

table th,
table td {
  padding: unset;
}

table tr {
  display: table-row;
}

.primary {
  background: rgba(5, 5, 94, 1);
}

tbody {
  display: contents !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.radar {
  position: initial !important;
  display: block;
  margin-top: 300px;
}

.update-vessels .fingerprint-spinner {
  border: 1px solid transparent !important;
  border-top-color: #3b4559 !important;
}

.update-vessels > .spinner-ring {
  border: 1px solid transparent !important;
  border-top-color: #3b4559 !important;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.highlight {
  margin: 0;
  padding: 0;
  background-color: #cccfd6;
  color: rgb(81, 81, 81);
}

input:not([type]),
[type='text'],
[type='email'],
[type='number'],
[type='search'],
[type='password'],
[type='url'],
[type='tel'],
[type='checkbox'],
[type='radio'],
textarea,
select {
  margin: 0;
  padding: 0;
}

.ol-scale-line {
  position: absolute;
  bottom: 10px;
  left: 282px;
  display: inline-block;
  margin: 1px;
  padding: 2px 0 5px 2px;
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  height: 18px;
  background-color: #3b4559;
  border: none;
  border-radius: 2px;
}

.ol-scale-line-inner {
  margin: 3px 4px 4px 2px;
  line-height: 11px;
  padding-bottom: 4px;
}

a:hover,
a:focus {
  color: #282f3e;
}

.base-layers-selection > .rs-radio > .rs-radio-checker > label > .rs-radio-wrapper {
  float: right;
  position: relative;
  top: 0;
  margin-bottom: 9px;
  margin-left: 180px;
}

.base-layers-selection > .rs-radio > .rs-radio-checker {
  padding-left: 0;
  padding-top: 3px;
}

.base-layers-selection > .rs-radio > .rs-radio-checker > label {
  width: 304px;
  display: inline-block;
  font-weight: 500;
}

.rs-modal-full .rs-modal-dialog {
  width: 100%;
  margin-left: 0;
}

.rs-modal-content {
  padding: 0;
  border-radius: 2px;
}

.rs-modal-body {
  padding: 20px 25px 20px 25px;
  margin-top: 0;
  max-height: 800px !important;
  min-height: 210px !important;
}

.rs-table-cell-header,
.rs-table-cell[role='columnheader'],
.rs-table-cell-header:focus,
.rs-table-cell[role='columnheader']:focus,
.rs-table-cell-header:hover,
.rs-table-cell[role='columnheader']:hover {
  background: #e5e5eb;
  color: white;
}

.rs-table-hover .rs-table-row-header:hover .rs-table-cell-group,
.rs-table-hover .rs-table-row-header:hover .rs-table-cell {
  background: #e5e5eb;
}

.rs-table-cell[role='columnheader'] > .rs-table-cell-content {
  color: #707785;
}

.rs-table-cell {
  border: 1px solid #e0e0e0;
}

.rs-table-cell-content {
  font-size: 13px;
  font-weight: 500;
  color: #282f3e;
  padding: 9px 7px;
  text-align: left;
}

.rs-table-cell-content > input {
  border: none;
  width: inherit;
  background: none;
  padding-left: 15px;
  font-size: 13px;
  font-weight: normal;
  color: #282f3e;
}

.rs-table-scrollbar-handle,
.rs-table-scrollbar-handle:hover,
.rs-table-scrollbar-handle:focus {
  position: absolute;
  background-color: #575757;
  border-radius: 4px;
}

.rs-table-cell-header .rs-table-cell-content {
  padding: 10px 7px;
}

.rs-table-hover .rs-table-row:not(.rs-table-row-header):hover,
.rs-table-hover .rs-table-row:hover .rs-table-cell-group,
.rs-table-hover .rs-table-row:hover .rs-table-cell {
  background: #d4dde7 !important; /* blueYonder 25 */
}

.rs-table-cell,
.rs-table-cell-group,
.rs-table-row {
  -webkit-transition: background-color 0.1s linear !important;
  transition: background-color 0.1s linear !important;
}

.new-regulation-select-picker a {
  padding: 8px 0px;
}

.rs-table-row-expanded {
  height: 100px !important;
  background: white !important;
}

.hover-border:hover {
  border-bottom: 1px solid rgb(40, 47, 62);
  box-sizing: border-box;
}

.rs-btn-primary:hover {
  color: inherit;
}
