services:
  db:
    image: ghcr.io/mtes-mct/monitorfish/monitorfish-database:$DATABASE_VERSION
    container_name: monitorfish_database
    user: ":${MONITORFISH_LOGS_AND_BACKUPS_GID}"
    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=$POSTGRES_DB
    volumes:
      - db-data:/var/lib/postgresql/data
      - "${MONITORFISH_BACKUPS_FOLDER}:/opt/monitorfish_backups"
    ports:
      - 5432:5432
    networks:
      - backend
    restart: always

  app:
    image: ghcr.io/mtes-mct/monitorfish/monitorfish-app:$MONITORFISH_VERSION
    container_name: monitorfish_backend
    user: "monitorfish:${MONITORFISH_LOGS_AND_BACKUPS_GID}"
    environment:
      - SPRING_PROFILES_ACTIVE=$MONITORFISH_ENV
      - HOST_IP=127.0.0.1
      - MONITORFISH_HTTP_PROXY_HOST=$MONITORFISH_HTTP_PROXY_HOST
      - MONITORFISH_HTTP_PROXY_PORT=$MONITORFISH_HTTP_PROXY_PORT
      - MONITORFISH_HTTP_NON_PROXY_HOSTS=$MONITORFISH_HTTP_NON_PROXY_HOSTS
      - MONITORFISH_VERSION=$MONITORFISH_VERSION
      - ENV_DB_URL=jdbc:postgresql://db:5432/$POSTGRES_DB?user=$POSTGRES_USER&password=$POSTGRES_PASSWORD
      - ENV_DB_DRIVER_CLASS_NAME=org.postgresql.Driver
      - MONITORFISH_SERVER_PORT=8880
      - MONITORFISH_AJP_PORT=8000
      - STATIC_FILES_PATH=/home/monitorfish/public
      - MONITORFISH_DATABASE_MISSIONS_ACTIONS_CHUNK_SIZE=$MONITORFISH_DATABASE_MISSIONS_ACTIONS_CHUNK_SIZE
      - MONITORFISH_MIGRATION_PATH=$MONITORFISH_MIGRATION_PATH
      - MONITORFISH_DATABASE_QUERY_TIMEOUT=$MONITORFISH_DATABASE_QUERY_TIMEOUT
      - MONITORFISH_DATABASE_HIKARI_MAX_POOL_SIZE=$MONITORFISH_DATABASE_HIKARI_MAX_POOL_SIZE
      - FRONTEND_GEOSERVER_REMOTE_URL=$MONITORFISH_GEOSERVER_REMOTE_URL
      - FRONTEND_GEOSERVER_LOCAL_URL=$MONITORFISH_GEOSERVER_LOCAL_URL
      - FRONTEND_MONITORENV_URL=$MONITORFISH_MONITORENV_PUBLIC_URL
      - MONITORENV_URL=$MONITORFISH_MONITORENV_URL
      - RAPPORTNAV_URL=$MONITORFISH_RAPPORTNAV_URL
      - RAPPORTNAV_TIMEOUT=$MONITORFISH_RAPPORTNAV_TIMEOUT
      - FRONTEND_MAPBOX_KEY=$MONITORFISH_MAPBOX_KEY
      - FRONTEND_SHOM_KEY=$MONITORFISH_SHOM_KEY
      - MONITORFISH_OIDC_ENABLED=$MONITORFISH_OIDC_ENABLED
      - MONITORFISH_OIDC_BYPASS_EMAIL_DOMAINS_FILTER=$MONITORFISH_OIDC_BYPASS_EMAIL_DOMAINS_FILTER
      - FRONTEND_OIDC_ENABLED=$MONITORFISH_OIDC_ENABLED
      - FRONTEND_OIDC_LOGIN_BUTTON_PROVIDER=$MONITORFISH_OIDC_LOGIN_BUTTON_PROVIDER
      - MONITORFISH_OIDC_ISSUER_URI=$MONITORFISH_OIDC_ISSUER_URI
      - MONITORFISH_OIDC_AUTHORIZATION_URI=$MONITORFISH_OIDC_AUTHORIZATION_URI
      - MONITORFISH_OIDC_TOKEN_URI=$MONITORFISH_OIDC_TOKEN_URI
      - MONITORFISH_OIDC_USER_INFO_URI=$MONITORFISH_OIDC_USER_INFO_URI
      - MONITORFISH_OIDC_JWK_SET_URI=$MONITORFISH_OIDC_JWK_SET_URI
      - MONITORFISH_OIDC_REDIRECT_URI=$MONITORFISH_OIDC_REDIRECT_URI
      - MONITORFISH_OIDC_CLIENT_ID=$MONITORFISH_OIDC_CLIENT_ID
      - MONITORFISH_OIDC_CLIENT_SECRET=$MONITORFISH_OIDC_CLIENT_SECRET
      - MONITORFISH_OIDC_PROVIDER=$MONITORFISH_OIDC_PROVIDER
      - MONITORFISH_OIDC_LOGIN_URL=$MONITORFISH_OIDC_LOGIN_URL
      - MONITORFISH_OIDC_SUCCESS_URL=$MONITORFISH_OIDC_SUCCESS_URL
      - MONITORFISH_OIDC_ERROR_URL=$MONITORFISH_OIDC_ERROR_URL
      - MONITORFISH_OIDC_AUTHORIZED_EMAIL_DOMAINS=$MONITORFISH_OIDC_AUTHORIZED_EMAIL_DOMAINS
      - MONITORFISH_OIDC_PROXY_URL=$MONITORFISH_OIDC_PROXY_URL
      - MONITORFISH_API_PROTECTED_API_KEY=$MONITORFISH_API_PROTECTED_API_KEY
      - MONITORFISH_API_PROTECTED_PATHS=$MONITORFISH_API_PROTECTED_PATHS
      - MONITORFISH_API_PROTECTED_SUPER_USER_PATHS=$MONITORFISH_API_PROTECTED_SUPER_USER_PATHS
      - MONITORFISH_API_PROTECTED_PUBLIC_PATHS=$MONITORFISH_API_PROTECTED_PUBLIC_PATHS
      - MONITORFISH_SCHEDULING_ENABLED=$MONITORFISH_SCHEDULING_ENABLED
      - MONITORFISH_SENTRY_ENABLED=$MONITORFISH_SENTRY_ENABLED
      - MONITORFISH_SENTRY_ENV=$MONITORFISH_SENTRY_ENV
      - FRONTEND_SENTRY_ENV=$MONITORFISH_SENTRY_ENV
      - SENTRY_DSN=$MONITORFISH_SENTRY_DSN
      - MONITORFISH_KEYCLOAK_PROXY_ENABLED=$MONITORFISH_KEYCLOAK_PROXY_ENABLED
      - FRONTEND_SENTRY_DSN=$MONITORFISH_SENTRY_DSN
      - FRONTEND_SENTRY_TRACING_ORIGINS=$MONITORFISH_SENTRY_TRACING_ORIGINS
      - FRONTEND_MONITORFISH_VERSION=$MONITORFISH_VERSION
      - FRONTEND_MISSION_FORM_AUTO_SAVE_ENABLED=$MONITORFISH_MISSION_FORM_AUTO_SAVE_ENABLED
      - FRONTEND_MISSION_FORM_AUTO_UPDATE_ENABLED=$MONITORFISH_MISSION_FORM_AUTO_UPDATE_ENABLED
      - FRONTEND_PRIOR_NOTIFICATION_LIST_ENABLED=$MONITORFISH_PRIOR_NOTIFICATION_LIST_ENABLED
      - FRONTEND_VESSEL_LIST_ENABLED=$MONITORFISH_VESSEL_LIST_ENABLED
      - FRONTEND_KEPLER_ACTIVITY_VISUALIZATION_ENABLED=$MONITORFISH_KEPLER_ACTIVITY_VISUALIZATION_ENABLED
      - FRONTEND_POSITION_ALERT_FORM_ENABLED=$MONITORFISH_POSITION_ALERT_FORM_ENABLED
      - FRONTEND_MATOMO_URL=$MONITORFISH_MATOMO_URL
      - FRONTEND_MATOMO_ID=$MONITORFISH_MATOMO_ID
    ports:
      - 8880:8880
      - 8000:8000
      - 5000:5000
      - 5001:5001
    volumes:
      - "${MONITORFISH_LOGS_FOLDER}:/home/monitorfish/logs"
    networks:
      - backend
    depends_on:
      - db
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8880/api/v1/healthcheck || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"

  geoserver:
    container_name: monitorfish_geoserver
    image: kartoza/geoserver:2.18.0
    restart: on-failure:5
    environment:
      - USE_CORS=1
    ports:
      - 8001:8080
    volumes:
      - geoserver-data:/opt/geoserver/data_dir
    networks:
      - backend
    healthcheck:
      test: curl --fail -s http://localhost:8080/geoserver/index.html || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3

networks:
  backend:

volumes:
  db-data:
    name: $DB_DATA_VOLUME_NAME
  geoserver-data:
    driver: local
