.boat {
  object-position: 0 -234px;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.zoom {
  bottom: 40px;
  left: .5em;
}

.collapsed {
  display: none;
}

.ol-attribution ul {
  text-shadow: none;
}

.ol-control button {
  background-color: #05055E;
}

.ol-control:hover {
  background: inherit;
}

.ol-control button:hover, .ol-control button:focus {
  background-color: #05055E;
}

button:hover, button:focus {
  background: inherit;
}

.hide {
  display: none;
}

.active-tab {
  background-color: white;
}

table:not(.horizontal) th, table:not(.horizontal) td {
  overflow: unset;
  flex: unset;
}

table th, table td {
  padding: unset;
}

table tr {
  display: table-row
}

.primary {
  background: rgba(5, 5, 94, 1);
}

tbody {
  display: contents !important;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.vessel-overlay {
  z-index: 100;
}

.vessel-track-overlay {
  z-index: 300;
}

.vessel-summary-overlay {
  z-index: 200;
}

.radar {
  position: initial !important;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}