.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.app-label{
  width: auto;
  overflow: auto;
  margin: 5px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.map-container{
  height: 100vh;
  width: 100%;
}

.clicked-coord-label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}

.boat {
  object-position: 0 -234px;
}

.eez-control {
  top: 130px;
  left: 1em;
  font-size: 0.8em;
  color: aliceblue;
  background-color: #05125f;
  z-index: 999999;
}

.eez-control button {
  width: 30px;
}

.ol-zoom {
  margin-top: 50px;
}

.ol-control button {
  background-color: #05125f;
}