body, html, * {
  margin: 0;
  font-family: 'Marianne', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: revert;
  box-sizing: revert;
}
*::before,
*::after {
  -webkit-box-sizing: revert;
  box-sizing: revert;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.noUi-origin {
  visibility: hidden;
}

.rs-slider-mark {
  font-size: 13px;
  color: #969696;
}

.rs-slider {
  position: absolute;
  width: 341px;
  margin-top: -19px;
}

.rs-slider-bar {
  height: 0;
}

.rs-slider-progress-bar {
  height: 2px;
  background: none;
}

.noUi-target {
  background: none;
  border-radius: unset;
  border: none;
  box-shadow: none;
}

.noUi-connects {
  border-radius: 0;
  border: none;
  height: 3px;
}

.noUi-connect:nth-child(1) {
  background: #E0E0E0;
}

.noUi-connect:nth-child(2) {
  background: #B2B2B2;
}

.noUi-connect:nth-child(3) {
  background: #515151;
}

.rs-slider-graduator > ul > li::before {
  visibility: hidden;
}


.rs-slider-graduator > ul > li:last-child::after, .rs-slider-graduator > ul > li::before {
  top: -3px;
  border: none;
}

.rs-slider-handle::before {
  background: #B2B2B2;
  border: unset;
  top: -6px;
  margin-left: -5px;
  width: 16px;
  height: 16px;
}

.rs-slider-graduator {
  margin-left: -5px;
  margin-top: -10px;
}

.rs-slider-graduated > div:nth-child(2)::before {
  background: #B2B2B2;
  z-index: 99;
}

.rs-slider-graduated > div:nth-child(3)::before {
  background: #515151;
  z-index: 99;
}

button, [type="button"], [type="submit"], [type="reset"], a.button, label.button, .button, a[role="button"], label[role="button"], [role="button"], [role="button"]:hover, [role="button"]:focus {
  background: unset;
  color: unset;
  border: unset;
  text-decoration: unset;
  border-radius: unset;
  margin: unset;
  padding: unset;
}

button:hover, button:focus, [type="button"]:hover, [type="button"]:focus, [type="submit"]:hover, [type="submit"]:focus, [type="reset"]:hover, [type="reset"]:focus, a.button:hover, a.button:focus, label.button:hover, label.button:focus, .button:hover, .button:focus, a[role="button"]:hover, a[role="button"]:focus, label[role="button"]:hover, label[role="button"]:focus, [role="button"]:hover, [role="button"]:focus {
  background: unset;
  border-color: unset;
}

.rs-radio-wrapper::before {
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #D6D6D6;
}

.rs-radio-checked .rs-radio-wrapper .rs-radio-inner::before {
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #969696;
}

.rs-radio-wrapper .rs-radio-inner::after {
  background: #969696;
  width: 6px;
  height: 6px;
  margin-top: 4px;
  margin-left: 4px;
}

.rs-radio-wrapper .rs-radio-inner::before {
  background: #EDEDED 0% 0% no-repeat padding-box;
  border: 2px solid #D6D6D6;
}

.rs-radio-wrapper::before, .rs-radio-wrapper .rs-radio-inner::before, .rs-radio-wrapper {
  width: 10px;
  height: 10px;
}

.rs-radio-checker > label {
  font-size: 13px;
  color: #515151;
  padding: unset unset unset 7px;
}

.rs-radio-checker {
  padding-top: 8px;
  padding-bottom: 0;
  padding-left: 29px;
  min-height: 0;
  line-height: 1;
  position: relative;
}

.rs-radio-group {
  text-align: left;
  margin-right: 0;
}

.rs-radio-inline {
  margin: 0;
}

.rs-radio-group[role="button"] {
  padding: unset;
  margin-top: 0;
}

.rs-checkbox-checker > label {
  font-size: 13px;
  color: #515151;
}

.rs-checkbox-checker {
  padding-bottom: 0;
  padding-left: 36px;
  padding-top: 10px;
  min-height: 0;
  line-height: 1;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner::before {
  border-color: #969696;
  background-color: #EDEDED;
}

.rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner::after {
  border: solid #969696;
  border-width: 0 2px 2px 0;
}

label {
  padding: unset;
}
