<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Legipêche / Monitorfish - Vérification quotidienne</title>
        <style>
            {{ style }}
        </style>
    </head>
    <body>
    {{ body }}
    </body>
</html>