name: CI/CD Back & Front

on:
  push:
    paths:
    - '**.kt'
    - '**.png'
    - '**.js'
    - '**.json'
    - '**.ts'
    - '**.yml'
    - '.github/workflows/cicd.yml'
    - 'infra/configurations/**.properties'
    - 'infra/docker/DockerfileBuildApp'
    - '**.sql'
    - 'backend/pom.xml'
    - 'Makefile'
    - 'frontend'
  schedule:
    - cron: "38 11 */3 * *"

jobs:
  version:
    name: Set application version and env profile
    runs-on: ubuntu-18.04
    outputs:
      ENV_PROFILE: ${{ steps.env_profile.outputs.ENV_PROFILE }}
      VERSION: ${{ steps.version.outputs.VERSION }}
    steps:
    - name: Get last release version
      id: lastrelease
      uses: pozetroninc/github-action-get-latest-release@master
      with:
        repository: mtes-mct/monitorfish

    - id: step1
      name: Set ENV profile as dev by default
      run: echo "ENV_PROFILE=dev" >> $GITHUB_ENV

    - name: Set ENV profile as PROD when it is a release
      if: startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/heads/v')
      run: echo "ENV_PROFILE=prod" >> $GITHUB_ENV

    - id: env_profile
      name: Set ENV profile output
      run: echo "::set-output name=ENV_PROFILE::${{ env.ENV_PROFILE }}"

    - id: version
      name: Set VERSION env
      run: |
        if [ "${ENV_PROFILE}" != "prod" ]; then\
            echo "VERSION=${{ steps.lastrelease.outputs.release }}_snapshot" >> $GITHUB_ENV
        else\
            echo "VERSION=${{ steps.lastrelease.outputs.release }}" >> $GITHUB_ENV
        fi
        echo "::set-output name=VERSION::${{ env.VERSION }}"

  build:
    name: Run unit tests, build and package
    needs: version
    runs-on: ubuntu-18.04
    env:
      ENV_PROFILE:  ${{needs.version.outputs.ENV_PROFILE}}
      VERSION: ${{needs.version.outputs.VERSION}}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true 
    steps:
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.2
      with:
        java-version: 11

    - uses: actions/checkout@v2
      
    - name: NPM install with caching
      uses: bahmutov/npm-install@v1.6.0
      with:
        # Working directory to specify subfolder in which dependencies are defined
        working-directory: frontend/
        useLockFile: true
        # Custom install command to use
        install-command: npm install
            
    - name: Unit test
      run: make test

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@master

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache-app
        key: ${{ runner.os }}-single-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-single-buildx

    - name: Build image
      uses: docker/build-push-action@v2
      with:
        context: .
        load: true
        builder: ${{ steps.buildx.outputs.name }}
        file: infra/docker/DockerfileBuildApp
        push: false
        tags: monitorfish-app:${{ env.VERSION }}
        cache-from: type=local,src=/tmp/.buildx-cache-app
        cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-app-new
        build-args: |
          VERSION=${{ env.VERSION }}
          ENV_PROFILE=${{ env.ENV_PROFILE }}
          GITHUB_SHA=${{ github.sha }}

      # Temp fix
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896

    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache-app
        mv /tmp/.buildx-cache-app-new /tmp/.buildx-cache-app

    - name: Upload image to artifacts
      uses: ishworkh/docker-image-artifact-upload@v1
      with:
        image: monitorfish-app:${{ env.VERSION }}

  e2e_test:
    name: Run E2E tests and push to registry
    needs: [version, build]
    runs-on: ubuntu-18.04
    strategy:
      # when one test fails, DO NOT cancel the other
      # containers, because this will kill Cypress processes
      # leaving the Dashboard hanging ...
      # https://github.com/cypress-io/github-action/issues/48
      fail-fast: false
      matrix:
        # run 3 copies of the current job in parallel
        containers: [1, 2, 3]
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true 
      REACT_APP_CYPRESS_PORT: 8880
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
      CYPRESS_PROJECT_ID: ${{ secrets.PROJECT_ID }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ENV_PROFILE:  ${{needs.version.outputs.ENV_PROFILE}}
      VERSION: ${{needs.version.outputs.VERSION}}
    steps:
    - name: Download image
      uses: ishworkh/docker-image-artifact-download@v1
      with:
        image: "test_image:latest"

    - name: Run docker images
      run: make docker-compose-up

    - name: Curl stubbed geoserver
      run: until $(curl --output /dev/null --silent --fail "http://localhost:8081/geoserver/wfs?service=WFS&version=1.1.0&request=GetFeature&typename=monitorfish:regulations&outputFormat=application/json&CQL_FILTER=topic=%27Ouest%20Cotentin%20Bivalves%27%20AND%20zone=%27Praires%20Ouest%20cotentin%27"); do printf '.'; sleep 5; done;

    - name: Run Cypress tests
      uses: cypress-io/github-action@v2
      with:
        # we have already installed all dependencies above
        install: true
        install-command: npm i
        working-directory: frontend
        record: true
        parallel: true
        wait-on: 'http://localhost:8880'
        env: PORT=8880
        browser: firefox

  push_to_registry:
    name: Push to registry
    needs: [version, e2e_test]
    runs-on: ubuntu-18.04
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true 
      ENV_PROFILE:  ${{needs.version.outputs.ENV_PROFILE}}
      VERSION: ${{needs.version.outputs.VERSION}}
    - name: Push docker image to registry
      if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v') || startsWith(github.ref, 'refs/heads/v')
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${GITHUB_ACTOR} --password-stdin
        make docker-tag
        make docker-push
