# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Trivy
on:
  workflow_dispatch:
    version:
      description: 'Version number'
      required: true
      default: 'v1.0.0'

permissions:
  contents: read

jobs:
  version:
    name: Set application version and env profile
    runs-on: ubuntu-22.04
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
    steps:
      - name: Get last release version
        id: lastrelease
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: mtes-mct/monitorfish
      - id: version
        name: Set VERSION env
        run: |
          export VERSION=${{ steps.lastrelease.outputs.release }}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
  analyze:
    needs: [version]
    env:
      VERSION: ${{ needs.version.outputs.VERSION }}
    permissions:
      packages: write
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Run Trivy
    runs-on: "ubuntu-20.04"
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "ghcr.io/mtes-mct/monitorfish/monitorfish-app:${{ env.VERSION }}"
          format: sarif
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "trivy-results.sarif"
